    /* 全域 */
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        color: white;
    }
    
    html,
    body {
        background: #1c1d26;
    }
    
    body,
    input,
    select,
    textarea {
        color: rgba(255, 255, 255, 0.75);
        font-family: "Roboto", Helvetica, sans-serif;
        font-size: 15pt;
        font-weight: 100;
        line-height: 1.75em;
    }
    
    a {
        display: block;
        width: 100%;
        line-height: 80px;
        text-decoration: none;
        font-size: 16px;
        white-space: nowrap;
        width: auto;
    }
    
    a {
        -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
        text-decoration: none;
    }
    
    a:hover {
        color: #e44c65;
    }
    
    a:hover,
    .dropdown-menu li a:hover {
        color: #e44c65;
        background-color: #272833;
    }
    /* Header */
    
    #page-wrapper {
        padding-top: 3.5em;
    }
    
    #header {
        background: #1c1d26;
        cursor: default;
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    
    #header h1 {
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        margin: 0;
        position: absolute;
        top: 0;
    }
    
    #header nav {
        position: absolute;
        right: 1em;
        top: 0;
    }
    
    #header nav ul {
        margin: 0;
    }
    
    #header nav ul li {
        display: inline-block;
        margin-left: 1em;
    }
    /* 美食地圖選單 */
    
    .dropdown-menu {
        display: none;
        position: absolute;
        text-align: center;
        width: auto;
    }
    
    .right-menu {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-menu a:hover {
        color: #ffffff;
    }
    
    .right-menu:hover .dropdown-menu {
        display: block;
    }
    /* Banner */
    
    #banner {
        background-attachment: fixed;
        background-color: #1c1d26;
        background-position: center center;
        background-size: cover;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
        min-height: 100vh;
        position: relative;
        text-align: center;
        z-index: 21;
    }
    
    #banner:before {
        content: '';
        display: inline-block;
        height: 100vh;
        vertical-align: middle;
        width: 1%;
    }
    
    #banner .content {
        display: inline-block;
        margin-right: 1%;
        max-width: 95%;
        padding: 6em;
        position: relative;
        text-align: right;
        vertical-align: middle;
        z-index: 1;
    }
    
    #banner .content .image {
        border-radius: 100%;
        display: inline-block;
        height: 18em;
        margin-left: 3em;
        vertical-align: middle;
        width: 18em;
    }
    
    #sec1 {
        background-attachment: fixed;
        background-color: #1c1d26;
        background-size: cover;
        background-position: center center;
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
        min-height: 100vh;
        position: relative;
        text-align: center;
        z-index: 21;
    }
    
    #sec1:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        height: 100vh;
        width: 1%;
    }
    
    #sec1 .content {
        display: inline-block;
        margin-right: 1%;
        max-width: 95%;
        padding: 6em;
        position: relative;
        text-align: right;
        vertical-align: top;
        z-index: 1;
    }
    
    #sec1 .content {
        margin: 0 0 4em 0;
        position: relative;
        text-align: center;
    }
    
    #sec1 .content h2:after {
        background: #e44c65;
        content: '';
        display: inline-block;
        height: 0.2em;
        max-width: 20em;
        width: 100%;
    }
    
    #sec1 .image:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    /* XX-Large Device */
    
    @media(min-width: 1024px) {
        .news {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .news li {
            width: 48%;
            float: left;
        }
    }
    
    @media screen and (min-width: 720px) and (max-width: 1024px) {
        .news li {
            width: 100%;
            float: none;
        }
        h3 {
            color: bisque;
        }
    }
    
    @media(max-width:720px) {
        .news li {
            width: 100%;
            float: none;
        }
        h3 {
            color: aquamarine;
        }
                #nav {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 20%;
            padding: 20px;
            box-sizing: border-box;
        }
        #nav ul {
            display: block;
            padding: 0;
            margin: 0;
        }
        #nav ul li {
            display: block;
            width: 100%;
        }
        #nav ul li a {
            display: block;
            padding: 10px;
            text-decoration: none;
        }
        #header {
            display: flex;
        }
    }
